trigger:
- master

pool:
  Latest-Pool

stages:
  - stage: Precommit
    displayName: Pre-commit / Static Analysis Stage
    jobs:
      - job: fmtjob
        displayName: Pre-commit / Static Analysis Stage
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          displayName: fmt task
          inputs:
            provider: 'azurerm'
            command: 'custom'
            workingDirectory: '$(System.DefaultWorkingDirectory)/parent_modules'
            outputTo: 'console'
            customCommand: 'fmt'
            environmentServiceNameAzureRM: 'rumuitserviceconnection'

        - task: TerraformTask@5
          displayName: init task
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/parent_modules'
            backendServiceArm: 'rumuitserviceconnection'
            backendAzureRmStorageAccountName: 'test42022'
            backendAzureRmContainerName: 'bawla-container'
            backendAzureRmKey: 'terraform.tfstate'

        - task: TerraformTask@5
          displayName: validate task
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/parent_modules'

        - task: PowerShell@2
          displayName: tfsec task
          inputs:
            targetType: 'inline'
            script: 'tfsec'
            errorActionPreference: 'continue'
            workingDirectory: '$(System.DefaultWorkingDirectory)/parent_modules'

        - task: PowerShell@2
          displayName: tflint task
          inputs:
            targetType: 'inline'
            script: 'tflint'
            errorActionPreference: 'continue'
            warningPreference: 'continue'
            informationPreference: 'continue'
            verbosePreference: 'continue'
            debugPreference: 'continue'
            progressPreference: 'continue'
            workingDirectory: '$(System.DefaultWorkingDirectory)/parent_modules'